.home {
  max-width: 1170px;
  margin: 0 auto;
}

.home h2 {
  color: #000;
  text-decoration: underline;
}

.home .archive {
  margin-top: 70px;
}

/* ........... Tablet ..............*/

@media only screen and (min-width: 426px) and (max-width: 768px) {
  .home .archive {
    margin: 0 15px;
  }
}

/* ............ Mobile ............... */

@media only screen and (max-width: 425px) {
  .home .archive {
    margin: 0 15px;
  }
}
