.addpost .success {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: orange;
}

.addpost .frm {
  width: 40%;
  margin: 0 auto;
}

.addpost label {
  display: block;
  padding: 6px 0;
  font-size: 15px;
  font-weight: 500;
}

.addpost input {
  width: 100%;
  padding: 10px 20px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  color: #000;
}

.addpost input:focus {
  outline: none;
  border: 1px solid lightgrey;
}

.addpost textarea {
  width: 100%;
  padding: 10px 20px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  font-family: "Helvetica", Arial, sans-serif;
  line-height: 1.5;
}

.addpost textarea:focus {
  outline: none;
  border: 1px solid lightgrey;
}

.addpost .post_btn {
  display: block;
  margin: 10px 20px;
  background: purple;
  color: #fff;
  border: none;
  border-radius: 5px;
  width: 100%;
  padding: 10px 25px;
  font-size: 17px;
  cursor: pointer;
}

/* ........... Tablet ..............*/

@media only screen and (min-width: 426px) and (max-width: 768px) {
  .addpost .frm {
    width: 70%;
  }
}

/* ............ Mobile ............... */

@media only screen and (max-width: 425px) {
  .addpost .frm {
    width: 70%;
    margin: 0 40px;
  }
}
