.postdetails .more {
  max-width: 672px;
  margin: 0 auto;
}

.postdetails .more .header .title {
  display: block;
  font-size: 34px;
  font-weight: 600;
  line-height: 1.3;
  text-decoration: underline;
}

.postdetails .more .header .subtitle {
  display: block;
  font-size: 18px;
  font-weight: 400;
  font-family: "Helvetica", Arial, sans-serif;
  line-height: 1.75rem;
  padding: 5px 0 15px 0;
  color: #3e3e3e;
}

.postdetails .more .author small {
  display: block;
}

.postdetails .more .image img {
  width: 100%;
  height: 40vh;
  object-fit: cover;
  margin: 15px 0 5px 0;
}

.postdetails .more .details p {
  line-height: 1.75;
  color: #030712;
}
