.signUp .user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.signUp .user .frm {
  margin: 0 auto;
}

.signUp .user .frm h2 {
  margin: 0 0 30px 0;
  color: #000;
  font-size: 30px;
  text-decoration: underline;
}

.signUp .user .image img {
  width: 750px;
  height: 100vh;
  object-fit: cover;
}
