/* #root {
  max-width: 1170px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

.dark-mode {
  background: #000;
}

.dark-mode span,
.dark-mode p,
.dark-mode small,
.dark-mode .post .body .title,
.dark-mode .nav .logo,
.dark-mode .nav .create,
.dark-mode svg,
.dark-mode h2,
.dark-mode .postdetails .more .header .subtitle,
.dark-mode .postdetails .more .details p {
  color: #fff;
}

.dark-mode .search .search-icons {
  color: #000;
}
